html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: linear-gradient(-45deg, #ffffff, #fdca88, #60bfff, #49cbff);
  background-size: 400% 400%;
  animation: gradient 25s ease-in-out infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    color: rgb(255, 255, 255);
  }
  50% {
    background-position: 100% 50%;
    color: #000;
  }
  100% {
    background-position: 0% 50%;
    color: rgb(255, 255, 255);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
